<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Include the CesiumJS JavaScript and CSS files -->
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <title>Cesium</title>
</head>

<body>
    <div id="cesiumContainer" style="height: 80vh !important"></div>
    <script>
        // Grant CesiumJS access to your ion assets
        Cesium.Ion.defaultAccessToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJmZjkwOTFiOC0zN2RkLTQ0MzItODAzMC1mMzFiNjUzNTYwNWIiLCJpZCI6NTkxMDgsImlhdCI6MTYyMzgyNjI0Mn0.5-ULH8dhNNXMVhzYOFx3FVtviSFwnFPxq2Xf8rZajjs";

        var viewer = new Cesium.Viewer("cesiumContainer", {
            terrainProvider: new Cesium.CesiumTerrainProvider({
                url: Cesium.IonResource.fromAssetId(1),
            }),
        });
        viewer.scene.globe.depthTestAgainstTerrain = true;

        var tileset = viewer.scene.primitives.add(
            new Cesium.Cesium3DTileset({
                url: Cesium.IonResource.fromAssetId(485007),
            })
        );

        tileset.readyPromise
            .then(function () {
                viewer.zoomTo(tileset);

                // Apply the default style if it exists
                var extras = tileset.asset.extras;
                if (
                    Cesium.defined(extras) &&
                    Cesium.defined(extras.ion) &&
                    Cesium.defined(extras.ion.defaultStyle)
                ) {
                    tileset.style = new Cesium.Cesium3DTileStyle(extras.ion.defaultStyle);
                }
            })
            .otherwise(function (error) {
                console.log(error);
            });

    </script>
    </div>
</body>

</html>