<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Include the CesiumJS JavaScript and CSS files -->
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <title>Cesium</title>
</head>

<body>
    <div id="analyst" style="margin: 20px 0px">
        <span></span>
        <a href="#" target="_blank" style="padding: 10px; margin: 10px 0px; background-color: blue; color: white; display: block; width: 10%; text-align: center; text-decoration: none;">Analyze</a>
    </div>
    <div id="cesiumContainer" style="height: 80vh !important"></div>
    <script>
        // Grant CesiumJS access to your ion assets
        Cesium.Ion.defaultAccessToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJmZjkwOTFiOC0zN2RkLTQ0MzItODAzMC1mMzFiNjUzNTYwNWIiLCJpZCI6NTkxMDgsImlhdCI6MTYyMzgyNjI0Mn0.5-ULH8dhNNXMVhzYOFx3FVtviSFwnFPxq2Xf8rZajjs";

        //get cesium terrain
        const viewer = new Cesium.Viewer('cesiumContainer', {
            terrainProvider: Cesium.createWorldTerrain()
        });
        viewer.scene.globe.depthTestAgainstTerrain = true;

        //custom imagery using single tile imagery provider
        // viewer.scene.imageryLayers.addImageryProvider(new Cesium.SingleTileImageryProvider({
        //     url: '/images/seika.png',
        //     rectangle: Cesium.Rectangle.fromDegrees(107.601729, -6.892425, 107.605334, -6.890699),
        // }));

        //insert osm buildings
        const buildingsTileset = viewer.scene.primitives.add(Cesium.createOsmBuildings());

        // Hide individual buildings in this area using 3D Tiles Styling language.
        buildingsTileset.style = new Cesium.Cesium3DTileStyle({
            // Create a style rule to control each building's "show" property.
            show: {
                conditions: [
                    // Any building that has this elementId will have `show = false`.
                    ['${elementId} === 10907389', false],
                    ['${elementId} === 783785586', false],
                    ['${elementId} === 513238429', false],
                    ['${elementId} === 784393389', false],
                    ['${elementId} === 383052768', false],
                    ['${elementId} === 383052767', false],
                    ['${elementId} === 885883727', false],
                    ['${elementId} === 885883729', false],
                    ['${elementId} === 857927855', false],
                    // If a building does not have one of these elementIds, set `show = true`.
                    [true, true, true, true, true, true, true, true, true]
                ]
            },
            // Set the default color style for this particular 3D Tileset.
            // For any building that has a `cesium#color` property, use that color, otherwise make it white.
            color: "Boolean(${feature['cesium#color']}) ? color(${feature['cesium#color']}) : color('#ffffff')"
        });

        //insert multiple obj
        const tiles = [
            '489121',
            '501450',
            '501455',
            '501452',
            '501447',
            '501091',
            '501408',
            '501436',
            '501422',
            '501459',
            '501426',
            '501418',
            '501410',
            '501432',
            '501439',
        ];

        tiles.map((tile, index) => {
            if (index == 0) {
                const tileset = viewer.scene.primitives.add(
                    new Cesium.Cesium3DTileset({
                        url: Cesium.IonResource.fromAssetId(tile),
                    })
                );

                //zooming to obj
                tileset.readyPromise
                    .then(function (tileset) {
                        viewer.zoomTo(tileset);
                    })
                    .otherwise(function (error) {
                        console.log(error);
                    });

            } else {
                viewer.scene.primitives.add(
                    new Cesium.Cesium3DTileset({
                        url: Cesium.IonResource.fromAssetId(tile),
                    })
                );
            }
        })

        //picking object for infobox
        var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
        handler.setInputAction(function (click) {
            var pickedObject = viewer.scene.pick(click.position);
            if (Cesium.defined(pickedObject)) {
                if (!(pickedObject instanceof Cesium.Cesium3DTileFeature)) {
                    var selectedEntity = new Cesium.Entity()
                    console.log(selectedEntity.id);

                    //set analyst name
                    document.querySelector('#analyst span').textContent = selectedEntity.id;
                    document.querySelector('#analyst a').setAttribute('href', 'https://cesium.com/ion/stories/viewer/?id=4fe639a0-5cc3-48c1-b80f-3f44f5df1979')

                    // Set feature infobox description
                    selectedEntity.name = selectedEntity.id;
                    selectedEntity.description =
                        'Description';
                    viewer.selectedEntity = selectedEntity;
                }
            }
        }, Cesium.ScreenSpaceEventType.LEFT_CLICK);

    </script>
    </div>
</body>

</html>