<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Include the CesiumJS JavaScript and CSS files -->
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.82/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <title>Cesium</title>
</head>

<body>
    <div id="cesiumContainer" style="height: 80vh !important"></div>
    <script>
        // Grant CesiumJS access to your ion assets
        Cesium.Ion.defaultAccessToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJmZjkwOTFiOC0zN2RkLTQ0MzItODAzMC1mMzFiNjUzNTYwNWIiLCJpZCI6NTkxMDgsImlhdCI6MTYyMzgyNjI0Mn0.5-ULH8dhNNXMVhzYOFx3FVtviSFwnFPxq2Xf8rZajjs";

        //get cesium terrain
        const viewer = new Cesium.Viewer('cesiumContainer', {
            terrainProvider: Cesium.createWorldTerrain()
        });
        viewer.scene.globe.depthTestAgainstTerrain = true;

        //custom imagery using single tile imagery provider
        viewer.scene.imageryLayers.addImageryProvider(new Cesium.SingleTileImageryProvider({
            url: '/images/seika.png',
            rectangle: Cesium.Rectangle.fromDegrees(107.601729, -6.892425, 107.605334, -6.890699),
        }));

        //insert osm buildings
        const buildingsTileset = viewer.scene.primitives.add(Cesium.createOsmBuildings());

        // Hide individual buildings in this area using 3D Tiles Styling language.
        buildingsTileset.style = new Cesium.Cesium3DTileStyle({
            // Create a style rule to control each building's "show" property.
            show: {
                conditions: [
                    // Any building that has this elementId will have `show = false`.
                    ['${elementId} === 10907389', false],
                    ['${elementId} === 783785586', false],
                    // If a building does not have one of these elementIds, set `show = true`.
                    [true, true]
                ]
            },
            // Set the default color style for this particular 3D Tileset.
            // For any building that has a `cesium#color` property, use that color, otherwise make it white.
            color: "Boolean(${feature['cesium#color']}) ? color(${feature['cesium#color']}) : color('#ffffff')"
        });

        //insert advent hospital
        const tileset = viewer.scene.primitives.add(
            new Cesium.Cesium3DTileset({
                url: Cesium.IonResource.fromAssetId(489121),
            })
        );

        //zooming to obj
        tileset.readyPromise
            .then(function (tileset) {
                viewer.zoomTo(tileset);
            })
            .otherwise(function (error) {
                console.log(error);
            });

        //picking object for infobox
        var handler = new Cesium.ScreenSpaceEventHandler(viewer.scene.canvas);
        handler.setInputAction(function (click) {
            var pickedObject = viewer.scene.pick(click.position);
            if (Cesium.defined(pickedObject)) {
                if (!(pickedObject instanceof Cesium.Cesium3DTileFeature)) {
                    var selectedEntity = new Cesium.Entity()
                    // Set feature infobox description
                    selectedEntity.name = "Name";
                    selectedEntity.description =
                        'Description';
                    viewer.selectedEntity = selectedEntity;
                }
            }
        }, Cesium.ScreenSpaceEventType.LEFT_CLICK);

    </script>
    </div>
</body>

</html>